.axis--x path {
  display: none;
}

.actual {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.counterfactual {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-dasharray: 5 5;
}
.incremental{
  fill: steelblue;
  opacity: 0.5;
}
