extends layout.pug
block meta
  title Jamal Senouci
  meta(name="description" content="Personal website of Jamal Senouci - Product Manager/Data Scientist based in the UK")
  meta(name="keywords" content="Personal Jamal Senouci blog")
block content
  h2 test