doctype html
html(ng-app="app")
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="Jamal Senouci")
        block meta
        base(href="/my-base")
        link(rel="shortcut icon" href="../favicon.ico")
        link(rel="stylesheet" href="public/styles/main.css" type="text/css")
        link(href="//fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300&amp;subset=latin,latin-ext&amp;anp;v2" rel="stylesheet" 
        type="text/css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css")

        style.
          #scrollArea {
            height: 280px;
            overflow: auto;
          }

          #bottom {
            display: block;
            margin-top: 2000px;
          }
    body(ng-controller="ScrollController")
      // Google Tag Manager
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id=GTM-KKVPMW" height="0" width="0" style="display:none;visibility:hidden")
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KKVPMW');
      // End Google Tag Manager
      header#header.clearfix
        h1#headertitle.col-xs-6
          a(href="/") Jamal Senouci
        block nav
          nav#headernav.col-sm-6
            ul.pull-right
              li
                a(ng-click="gotoHash('experience')") Experience
              li
                a(ng-click="gotoHash('projects')") Projects
      section.clearfix
          block content
      footer
          p.col-xs-12.col-sm-3 Jamal Senouci © 2017
          div#home
            a.col-xs-2(href='https://uk.linkedin.com/in/jamalsenouci')
            a.col-xs-4(href='https://uk.linkedin.com/in/jamalsenouci')
              img.webicon(src='public/styles/webicons/webicon-linkedin.svg' alt='linkedin logo')
            a.col-xs-4(href='https://github.com/jamalsenouci')
              img.webicon(src='public/styles/webicons/webicon-github.svg' alt='github logo')
      script(src="public/scripts/min/AnimatedScroll.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js")
      script(src="public/scripts/anchorScroll.js")
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js")
      block scripts
