extends layout.pug
block meta
  title Jamal Senouci
  meta(name="description" content="Personal website of Jamal Senouci - Data Scientist based in the UK")
  meta(name="keywords" content="Personal Jamal Senouci CV ")
block content
    a#contact
    .container.section#contact
        h2 Login
        form(role="form" method="post" class="col-xs-offset-2 col-xs-8")
            div(class="form-group")
                label(for="name") Username
                input(id="username" name="username" placeholder="Username" type="text" required="" class="form-control")
            div(class="form-group")
                label(for="pass") Password
                input(id="pass" name="pass" placeholder="Password" type="password" required="" class="form-control")
            button(id="login" name="login" type="submit" value="Submit" class="btn btn-success") Submit
block scripts
    script.
        document.querySelector("#headernav > ul").style.display = "none";
        document.querySelector("#login").onclick = function(){login()};
        function login(){
            var username = document.querySelector("#username").value;
            var pass = document.querySelector("#pass").value;
            if(username=="jamal"){
                if(pass=="runningtotal"){
                    window.location.href = 'runningtotal/index.html';
                }
            }
        }
